<!--************************************************************************************************************************
@Name: APTPS_QuoteCollaborationEmailComponent
@Author: Conga PS Dev Team
@CreateDate: 22 July 2021
@Description: Email template component for Quote Collaboration for Share and Lease. It is getting used by email template.
************************************************************************************************************************
@ModifiedBy:
@ModifiedDate:
@ChangeDescription:
*********************************************************************************************************************** -->

<apex:component access="global" controller="APTPS_QuoteCollaborationEmailController">
	<div style="font-family:serif;font-size: 15px">
        <div style="display:none">
            <apex:attribute name="collaborationId" description="This field is used to capture the Collaboration Request Id." type="string" assignTo="{!collabId}" />
            <apex:attribute name="proposalId" description="This field is used to capture the Proposal Id." type="string" assignTo="{!qId}" />
            <apex:attribute name="actionMode" description="This field is used to capture the Collaboratoin action/status." type="string" assignTo="{!mode}" />
            <apex:attribute name="parentConfig" description="This field is used to capture the parent product configuration Id." type="string" assignTo="{!parentConfigId}" />
            <apex:attribute name="childConfig" description="This field is used to capture the child product configuration Id." type="string" assignTo="{!childConfigId}" />
        </div>
        
        <div style="display:none">
            {!Details}
        </div>

        <div>
            <b>Transaction Type:</b> {!transactionType} <br/>
            <b>Modification Type:</b> {!modificationType} <br/> <br/>
            <b>Aircraft Type:</b> {!acType} <br/>
            <b>Vintage:</b> {!vintage} <br/>
            <b>Hours:</b> {!hours} <br/>
            <b>Share Size:</b> {!shareSize} <br/> <br/>
            <b>Go To Collaboration Request - </b> {!collabURL}<br/><br/>
            <apex:outputText style="font-style:italic" rendered="{!isCancelled}" value="Go To Quote/Proposal -  {0}">
                <apex:param value="{!quoteURL}"/>
            </apex:outputText>
        </div>
        
    </div>
</apex:component>