<apex:component access="global" controller="APTS_ProposalApprovalEmailController">
    <style>
        .lbl {
            text-align : right;
            font-weight: bold;
            vertical-align: top;
            font-family: inherit;
            font-size: 15px;
        }
        .preData {
            font-family: inherit;
            margin: 0;
            vertical-align: top;
            font-family: inherit;
            font-size: 15px;
        }
    </style>
    <div style="font-family:serif;font-size: 15px">
    <div style="display:none">
    <apex:attribute name="ApprovalRequestSO" description="This field is used to capture the Approval Request Info"
                     type="string" assignTo="{!ApprovalRequestObjId}" />
    <apex:attribute name="ProposlSO" description="This field is used to capture the Proposal Id"
                     type="string" assignTo="{!ProposalId}" />

    {!ApprovalRequest} {!proposal.Name}
    </div>

    <br/>
    <p>
    <apex:outputPanel layout="block">
        The following transaction has been approved:&nbsp;
    </apex:outputPanel>
    </p>

    <br />
    <table border="0" cellpadding="4" cellspacing="0" style="font-family:inherit">
        <!--
        <tr>
            <td class="lbl">Transaction Type</td>
            <td class="preData"><apex:outputField value="{!proposalSO.Modification_Sub_Type__c}" /></td>
        </tr>
        -->  
        <tr>
            <td class="lbl">{!mpStrFieldsLabels_Proposal['Apttus_Proposal__Account__c']}</td>
            <td class="preData"><apex:outputField value="{!proposalSO.Apttus_Proposal__Account__c}" /></td>
        </tr>
        <tr>
            <td class="lbl">Legal Entity Name</td>
            <td class="preData"><apex:outputField value="{!proposalSO.Apttus_QPConfig__LocationId__r.Name}" /></td>
        </tr>
        <tr>
            <td class="lbl">{!mpStrFieldsLabels_Proposal['Apttus_Proposal__Primary_Contact__c']}</td>
            <td class="preData"><apex:outputField value="{!proposalSO.Apttus_Proposal__Primary_Contact__c}" /></td>
        </tr>
        <tr>
            <td class="lbl">{!mpStrFieldsLabels_Proposal['Deal_Background__c']}</td>
            <td class="preData"><apex:outputField value="{!proposalSO.Deal_Background__c}" /></td>
        </tr>
    </table>

    <br />
</div>
    <!--<p style="color:red">ERR:<br/>
        <pre>{!strError}</pre>
    </p>-->

</apex:component>