<apex:component access="global" controller="APTS_ProposalApprovalEmailController">
    <style>
        .lbl {
            text-align : right;
            font-weight: bold;
            vertical-align: top;
            font-family: inherit;
            font-size: 15px;
        }
        .value {
            text-align : left;
            vertical-align: top;
            font-family: inherit;
            font-size: 15px;
        }
        .caption {
            text-align : left;
            font-weight: bold;
            font-family: inherit;
            font-size: 15px;
        }
        .preData {
            font-family: inherit;
            margin: 0;
            vertical-align: top;
            font-family: inherit;
            font-size: 15px;
        }
        h3   {color: blue;}
    </style>
    <div style="font-family:serif;font-size: 15px">
        <div style="display:none">
            <apex:attribute name="ApprovalRequestSO" description="This field is used to capture the Approval Request Info" type="string" assignTo="{!ApprovalRequestObjId}" />
            <apex:attribute name="ProposlSO" description="This field is used to capture the Proposal Id" type="string" assignTo="{!ProposalId}" />
            <apex:attribute name="isNotifyOnlyTemplate" description="This field is used to confirm Notify Only template" type="Boolean" assignTo="{!notifyOnly}" />
        </div>
    
        <div style="display:none">
            {!ApprovalRequest} {!proposal.Name}
        </div>
    
        <br/>
        <p>
            <apex:outputPanel layout="block" rendered="{!ApprovalRequestObj.Apttus_Approval__Notify_Only__c==false}">
                The below deal has been submitted by <span class="lbl">{!ApprovalRequestObj.Apttus_Approval__Initial_Submitter__r.name}</span>.
                <br/>
                <span class="lbl">Go To CDR:</span>&nbsp;
                <apex:outputLink value="{!instanceurl}/{!proposalSO.Id}">{!proposalSO.Apttus_Proposal__Proposal_Name__c}</apex:outputLink>&nbsp;({!proposalSO.Name})
            </apex:outputPanel>

            <apex:outputPanel layout="block" rendered="{!ApprovalRequestObj.Apttus_Approval__Notify_Only__c}">
                This is a notification that the below deal has been submitted by <span class="lbl">{!ApprovalRequestObj.Apttus_Approval__Initial_Submitter__r.name}</span>
                <br/>
                <span class="lbl">Go To CDR:</span>&nbsp;
                <apex:outputLink value="{!instanceurl}/{!proposalSO.Id}">{!proposalSO.Apttus_Proposal__Proposal_Name__c}</apex:outputLink>&nbsp;({!proposalSO.Name})
            </apex:outputPanel>
            <!--
            <apex:outputPanel layout="block">
                Approval Request for Quote/Proposal '{!proposalSO.Name}: <apex:outputLink value="{!instanceurl}/{!proposalSO.Id}">{!proposalSO.Apttus_Proposal__Proposal_Name__c}</apex:outputLink>'
            </apex:outputPanel>
            -->
        </p>
    
        <br />
        <apex:dataTable value="{!rePLI}" var="rowEntry" cellPadding="4" style="font-family:inherit">
            <apex:column styleClass="lbl" style="background-color:{!IF(rowEntry.isHeader,'#CCC','inherit')};">
                {!rowEntry.label}
            </apex:column>
            <apex:column styleClass="value" style="background-color:{!IF(rowEntry.isHeader,'#CCC','inherit')};" rendered="{!rowEntry.isHTML}">
                <apex:outputText value="{!rowEntry.value}" escape="false" />
            </apex:column>
            <apex:column styleClass="value" style="background-color:{!IF(rowEntry.isHeader,'#CCC','inherit')};" rendered="{!rowEntry.isHTML==false}">
                <pre class="preData">{!rowEntry.value}</pre>
            </apex:column>
        </apex:dataTable>
        <br />
    </div>

    <apex:outputPanel rendered="{!isTesting}">
        <p style="color:red">ERR:<br/>
            <pre>{!strError}</pre>
        </p>
    </apex:outputPanel>
</apex:component>