div.main-cart-totals-container table tr {
display: none;
}

/* [class~='configure-product__price-row']:last-of-type  {
display: none !important;

} */

.sidebar--configure-product .summary-pane {
    position: absolute;
}

.main-cart-totals-wrapper.main-cart-totals--overflow {
display: none !important;
}

.grid-cart-breakup-banner.subheader.layout-xs-column.layout-row div{
display: none !important;
}

/* div.main-cart-totals-container table tr:last-child {
display: table-row;
}
 */
.option-group-itemize-view {
   display: none;
}

.option-group-list {
  display: none; 

}

/* .select-override {
  overflow: inherit
} */