.error--warning{
	display:none;
}
.product-option__notification{
	display:none;
}
.summary-pane {
	overflow :auto!important;
	height: 200vh!important;
}

/* GCM-7027(START) OOB, there is no way to override the default warning message. */
.modal-content__description{
	display:none
}

.modal-content::before{
    content: "Do you want to finalize?";
    color: #647687;
    font-size: 16px;
}

/* GCM-7027(END) */