<template>
    <lightning-record-edit-form object-api-name="Payment_Entry__c" onsubmit={handleSubmit} onsuccess={handleSucess}>
        <lightning-messages></lightning-messages>
        <div class="slds-m-around_medium">
            <lightning-input-field field-name="Payment_Method__c" required></lightning-input-field>
            <lightning-input-field field-name="Payment_Amount__c" required></lightning-input-field>
            <lightning-input-field field-name="Payment_Date__c" required></lightning-input-field>
            <lightning-input-field field-name="CurrencyIsoCode" value={defaultCurrencyIsoCode}></lightning-input-field>
            <lightning-input-field field-name="Comments__c"></lightning-input-field>
            <div class="slds-m-top_medium">
                <lightning-button class="slds-m-top_small" label="Cancel" onclick={handleReset}></lightning-button>
                <lightning-button class="slds-m-top_small" type="submit"  disabled={disabledSubmit} label="Save"></lightning-button>
            </div>
        </div>
        </lightning-record-edit-form>
</template>